/* Fondo de bienvenida con animación */

/* Contenedor de la contraseña */
.password-container {
  display: flex;
  align-items: center;
  position: relative;
}

/* Estilo del botón para mostrar/ocultar la contraseña */
.toggle-password-btn {
  position: absolute;
  right: 10px;
  background: none;
  border: none;
  color: #387c2a;
  font-size: 1.2rem;
  cursor: pointer;
  padding: 0;
}

.toggle-password-btn:focus {
  outline: none;
}

/* Contenedor del formulario de login */
.login-content {
  background-color: rgba(255, 255, 255, 0.85);
  /* Fondo blanco translúcido */
  padding: 3rem;
  /* Aumentar padding para hacerlo más grande */
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  /* Aumentar el tamaño máximo */
  width: 100%;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.login-content:hover {
  transform: scale(1.05);
}

.login-content h2 {
  font-size: 2.5rem;
  /* Hacer el título más grande */
  color: #387c2a;
  /* Verde pastel */
  margin-bottom: 1.5rem;
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
}

.input-group {
  margin-bottom: 1.5rem;
  /* Aumentar espacio entre los campos */
  text-align: left;
}

.input-group label {
  display: block;
  font-size: 1rem;
  color: #333;
  margin-bottom: 5px;
}

.input-group input {
  width: 100%;
  padding: 14px;
  /* Aumentar tamaño de los campos */
  font-size: 1.1rem;
  /* Aumentar tamaño de la fuente */
  border: 1px solid #ddd;
  border-radius: 8px;
  outline: none;
  transition: border 0.3s;
}

.input-group input:focus {
  border-color: #387c2a;
  /* Verde pastel en foco */
}

.form-actions {
  margin-top: 20px;
}

.btn {
  width: 100%;
  padding: 14px;
  /* Hacer el botón más grande */
  background-color: #387c2a;
  color: white;
  font-size: 1.2rem;
  /* Aumentar el tamaño del texto */
  font-weight: bold;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.btn:hover {
  background-color: #980000;
  /* Rojo para hover */
  transform: translateY(-2px);
}

.create-account {
  margin-top: 20px;
  font-size: 1rem;
  color: #333;
}

.create-account a {
  color: #387c2a;
  /* Verde pastel */
  text-decoration: none;
}

.create-account a:hover {
  text-decoration: underline;
}

/* Animación para el fondo */
@keyframes gradientBackground {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}