<div class="main-container">
  <!-- Formulario para crear un tweet (izquierda) -->
  <div class="tweet-form-container">
    <div class="tweet-form-card">
      <form (ngSubmit)="addTweet()">
        <div class="input-group">
          <label for="tweetText">Escribe tu tweet aquí...</label>
          <input type="text" class="txt" name="tweetText" placeholder="Escribe tu tweet aquí..." [(ngModel)]="tweetText"
            required />
        </div>

        <div class="input-group">
          <label for="category">Categoría:</label>
          <select name="category" [(ngModel)]="selectedCategory" required>
            <option *ngFor="let category of categories" [ngValue]="category">{{ category.name }}</option>
          </select>
        </div>

        <div class="input-group">
          <label for="namePostre">Nombre del Postre:</label>
          <input id="namePostre" name="namePostre" [(ngModel)]="tweetNamePostre"
            placeholder="Escribe el nombre del postre" required />
        </div>

        <div class="input-group">
          <label for="ingredientes">Ingredientes:</label>
          <input id="ingredientes" name="ingredientes" [(ngModel)]="tweetIngredientes"
            placeholder="Escribe los ingredientes" required />
        </div>

        <div class="input-group">
          <label for="tipoPostre">Tipo de Postre:</label>
          <input id="tipoPostre" name="tipoPostre" [(ngModel)]="tweetTipoPostre" placeholder="Escribe el tipo de postre"
            required />
        </div>

        <div class="form-actions">
          <button type="submit" class="btn">Tweet</button>
        </div>
      </form>
    </div>
  </div>

  <!-- Contenedor de los Tweets (derecha) -->
  <div class="tweets-list">
    <h3>Tweets sobre Postres</h3>
    <div *ngFor="let tweet of tweets" class="tweet">
      <p>{{ tweet.tweet }} - {{tweet.id}}</p>
      <p><em>Postre: {{ tweet.namePostre }}</em></p>
      <p><em>Ingredientes: {{ tweet.ingredientes }}</em></p>
      <p><em>Tipo de postre: {{ tweet.tipoPostre }}</em></p>

      <!-- Reacciones -->
      <div class="reactions">
        <button (click)="addReaction(tweet.id, 1)">Like</button>
        <button (click)="addReaction(tweet.id, 2)">Love</button>
        <button (click)="addReaction(tweet.id, 3)">Hate</button>
        <button (click)="addReaction(tweet.id, 4)">Sad</button>
        <button (click)="addReaction(tweet.id, 5)">Angry</button>
      </div>

      <!-- Comentarios -->
      <div *ngIf="commentsByTweet[tweet.id] && commentsByTweet[tweet.id].length > 0" class="comments-section">
        <p><strong>Comentarios:</strong></p>
        <ul>
          <li *ngFor="let comment of commentsByTweet[tweet.id]">
            <p>{{ comment.user.username }}</p>
            {{ comment.content }} - {{comment.fechaCreacion}}
          </li>
        </ul>
      </div>

      <!-- Crear comentario -->
      <div class="comment-form">
        <input class="txt" type="text" [(ngModel)]="newCommentContent[tweet.id]" name="comment-{{tweet.id}}"
          placeholder="Escribe un comentario..." />
        <button (click)="createComment(tweet.id)">Comentar</button>
      </div>

      <!-- Reacciones -->
      <div *ngIf="reactionsByTweet[tweet.id] && reactionsByTweet[tweet.id].length > 0" class="reactions-section">
        <p><strong>Reacciones:</strong></p>
        <ul>
          <li *ngFor="let entry of getReactionCounts(tweet.id) | keyvalue">
            {{ entry.key }}: {{ entry.value }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>